.main_container {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header_container{
	margin-left:auto;
	margin-right:auto;
	max-width: 1280px;
}
.header_container .header_right{
	width:35%;
	float: right;
}
.header_container .header_left{
	width:65%;
	float: left;
}



.user_info_row{
	display:table-row;
}
.user_info_cell{
	display:table-cell;
	padding:10px;
	text-align:center;
	border: thin solid 	#000000;
}